<template>
    <div>
        

        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro" :filtro="filtro"></filtro-completo>

        <div class="row">
            

            <div v-if="pauta" class="col-xl-4 mt-2">
                <div class="card mb-4">
                    <div class="card-header text-primary">
                        <i class="fas fa-chart-pie me-1"></i>
                        Mobile
                    </div>
                    <div class="card-body">
                        <chart-doughnut :valor_grafico="pauta.pauta_1" title="Combustible" color="#dd1d21"></chart-doughnut>
                    </div>
                    <div class="card-header text-primary">
                        <h4 class="text-center">{{ pauta.pauta_1 }}%</h4>
                    </div>
                </div>
            </div>

            <div v-if="pauta" class="col-xl-4 mt-2">
                <div class="card mb-4">
                    <div class="card-header text-primary">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg>
                        TV y AV
                    </div>
                    <div class="card-body">
                        <chart-doughnut :valor_grafico="pauta.pauta_2" title="Tienda" color="#e87917"></chart-doughnut>
                    </div>
                    <div class="card-header text-primary">
                        <h4 class="text-center">{{ pauta.pauta_2 }}%</h4>
                    </div>
                </div>
            </div>

            <div v-if="pauta" class="col-xl-4 mt-2">
                <div class="card mb-4">
                    <div class="card-header text-primary">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg>
                        Linea Blanca
                    </div>
                    <div class="card-body">
                        <chart-doughnut :valor_grafico="pauta.pauta_3" title="Lavado" color="#009847"></chart-doughnut>
                    </div>
                    <div class="card-header text-primary">
                        <h4 class="text-center">{{ pauta.pauta_3 }}%</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 mt-4">
                <div class="card mb-4">
                    <div class="card-header  text-primary">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg>
                        General
                    </div>
                    <div class="card-body">
                        <grafico-dashboard :filtro="filtro" ></grafico-dashboard>
                    </div>
                </div>
            </div>
        </div>

        


        <!-- <filtro-completo></filtro-completo> -->

        

    </div>
</template>

<script>
  import FiltroCompleto from '../FiltroCompleto.vue'
  import ChartDoughnut from '../Chart/ChartDoughnut.vue'
  import GraficoDashboard from './GraficoBar.vue';


    export default {
        // components: { FiltroCompleto, GraficoDashboard, ChartDoughnut },
        components: { FiltroCompleto, GraficoDashboard, ChartDoughnut },
        data(){
          return {
            datos: {},
            datosFormato: {},
            datacollection: {},
            valor: 54,
            pauta : null,
            filtro : {
                plataforma_id: [],
                meses_id: [],
                unidad_id: [],
                negocios_id: [],
                file_id: [],
                fecha_ini: null,
                fecha_fin: null,
            },
            muestraFiltro : {
                plataforma : false,
                meses : false,
                fecha_ini : false,
                fecha_fin : false,
                negocios : true,
                unidad_negocios : false,
                files : true,
            }
          }
        },
        mounted () {
          
        },
        methods: {
          aplicaFiltro(filtro) {
              console.log("procesa filtros");
              this.filtro = filtro;
              this. recuperaTotales();
          },
          async recuperaTotales(){
                // this.formato_total = null;
                this.combustible = null;
                this.pauta = null;
                this.$Progress.start()
                await axios.post("api/dashboard_total", {
                    'filtro' : this.filtro
                }) //.then(({ data }) => (this.datos = data.data));
                .then(({data})=>{
                    this.datos = data.data;
                    // this.formato_total = data.data.formato_0;
                    this.pauta = data.data;
                });

                
                this.$Progress.finish()
            },
            
      },
      mounted () {
          this.recuperaTotales();
      },
      watch: {
          filtro: {
              handler: function(val, oldVal) {
                  this.recuperaTotales(); // call it in the context of your component object
              },
              deep: true
          }
      }

    }
</script>

<style lang="css">
.small {
  max-width: 800px;
  max-height: 500px;
  margin:  50px auto;
}
</style>
</script>

<style lang="scss" scoped>

</style>