<template>
    <div>

        <bar-chart :chart-data="datacollection" :options="option()" :height="120"></bar-chart>
    </div>
</template>

<script>
    import BarChart from '../BarChart.js'


    export default {
        components: { BarChart },
        data(){
            return {
                datacollection: {},
                options: {},
                datos: {},
                labels: {},
                total: [],
                
            }
        },
        props: ['filtro', 'codSeccion'],
        mounted () {
            this.recuperaDashboard()
            
        },
        methods: {
            async recuperaDashboard(){
                await axios.post("api/dashboard", {
                    'cod_seccion' : this.codSeccion,
                    'filtro' : this.filtro
                })
                .then((data)=>{
                    // console.log(data.data);
                    this.datos = data.data.data.resumen;
                    this.labels = data.data.data.labels;
                    this.fillData();
                })
            },

            fillData ()
            {
                this.datacollection = {
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart - Legend'
                    },
                    labels: this.labels,
                    datasets: [
                        {
                            label: 'Mobile',
                            data: this.datos.formato_1,
                            total: this.datos.total_1,
                            backgroundColor: 'rgba(224, 0, 4, 0.8)',
                            borderColor: 'rgb(224, 0, 4)',
                            borderWidth: 1
                        },
                        {
                            label: 'TV y AV',
                            data: this.datos.formato_2,
                            total: this.datos.total_2,
                            backgroundColor: 'rgba(232, 121, 23, 0.8)',
                            borderColor: 'rgb(232, 121, 23)',
                            borderWidth: 1
                        },
                        {
                            label: 'Linea Blanca',
                            data: this.datos.formato_3,
                            total: this.datos.total_3,
                            backgroundColor: 'rgba(0, 139, 64, 0.8)',
                            borderColor: 'rgb(0, 139, 64)',
                            borderWidth: 1
                        },
                    ],
                    

                }

                // this.options = {
                //         scales: {
                //             yAxes: [{
                //                 ticks: {
                //                     max: 100, // maximum value
                //                     min:0
                //                 }
                //             }]
                //         },

                // }
            },

            option() {
                let opt = {
                    responsive: true, 
                    maintainAspectRation: true,
                    scales: {
                        yAxes: [{
                            // stacked: true,
                            ticks: {
                                min: 0,
                                max: 120, // maximum value
                            }
                        }]
                    },
                    hover: {
                        animationDuration: 0
                    },
                    animation: {
                        //duration : 1,
                        onComplete : function() {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(
                                Chart.defaults.global.defaultFontSize, 
                                Chart.defaults.global.defaultFontStyle, 
                                Chart.defaults.global.defaultFontFamily
                            );
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = "#000";

                            this.data.datasets.forEach(function(dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function(bar, index) {

                                    var data = dataset.total[index];
                                    ctx.fillStyle = "#000";
                                    ctx.fillText('(n:' + data + ')', bar._model.x, bar._model.y + 45);
                                    
                                    
                                });
                            });
                        }
                    },
                                        
                }
                return opt;
            }
            
        },
        watch: {
          filtro: {
              handler: function(val, oldVal) {
                  this.recuperaDashboard()
              },
              deep: true
          }
      }
    }
</script>

<style lang="css">
.small {
  max-width: 800px;
  max-height: 500px;
  margin:  50px auto;
}
</style>
</script>

<style lang="scss" scoped>

</style>