<template>
    <div>

        <line-chart :chart-data="datacollection" :options="options" :height="250"></line-chart>
    </div>
</template>

<script>
    import LineChart from '../LineChart.js'


    export default {
        components: { LineChart },
        data(){
            return {
                datacollection: {},
                options: {},
                datos: {},
                total: [],
                
            }
        },
        props: ['filtro', 'codSeccion'],
        mounted () {
            this.recuperaDashboard()
            
        },
        methods: {
            async recuperaDashboard(){
                await axios.post("api/dashboard", {
                    'cod_seccion' : this.codSeccion,
                    'filtro' : this.filtro
                })
                .then((data)=>{
                    this.datos = data.data.data;
                    this.fillData();
                })
                // ({ data }) => (this.datos = data.data)
            },

            fillData ()
            {
                // console.log(this.datos);
                this.datacollection = {
                    title: {
                            display: true,
                            text: 'Chart.js Line Chart - Legend'
                        },
                    labels: ['Julio Q1','Julio Q2'],
                    datasets: [
                    {
                        label: 'Total (L+E)',
                        borderColor: '#000',
                        fill: false,
                        tension: 0.0,
                        data: this.datos.F_1_2
                    },
                    {
                        label: 'Lider',
                        borderColor: '#0879C9',
                        fill: false,
                        tension: 0.0,
                        data: this.datos.F1
                    },
                    {
                        label: 'Express',
                        borderColor: '#7bb5e5',
                        fill: false,
                        tension: 0.0,
                        data: this.datos.F2
                    },
                    {
                        label: 'SBA',
                        borderColor: '#E1251B',
                        fill: false,
                        tension: 0.0,
                        data: this.datos.F3
                    },
                    ]
                }

                this.options = {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    max: 100, // maximum value
                                    min:0
                                }
                            }]
                        },

                }
            }
        },
        watch: {
          filtro: {
              handler: function(val, oldVal) {
                  this.recuperaDashboard()
              },
              deep: true
          }
      }
    }
</script>

<style lang="css">
.small {
  max-width: 800px;
  max-height: 500px;
  margin:  50px auto;
}
</style>
</script>

<style lang="scss" scoped>

</style>