<template>
    <div>
        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro" :filtro="filtro"></filtro-completo>

                   
        <!-- {{ filtro.sucursal_id }} -->

        <div class="col-xl-12 mt-4">
            <div class="card mb-4">
                <div class="card-header text-primary">
                    <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                    Totales
                </div>
                <div class="card-body">
                    <div class="mb-4">

                        <table class="table table-hover table-bordered border-primary">
                            <thead>
                                <tr>
                                    <th width="90%">&nbsp;</th>
                                    <th class="text-center">% Logro</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(resumen_pauta, index) in resumen_pautas" :key="index">
                                    <td width="90%">
                                        {{ resumen_pauta.descripcion }}
                                    </td>
                                    <td class="text-center">
                                        {{ resumen_pauta.porc }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 mt-4">
            <div class="card mb-4">
                <div class="card-header text-primary">
                    <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                    Pauta de evaluación
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <table class="table table-hover table-bordered border-primary">
                            <thead>
                                <tr>
                                    <th width="85%">&nbsp;</th>
                                    <th class="text-center">% Logro</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template  v-for="cuadro_pauta in cuadro_pautas">
                                    <tr class="bg-primary text-white">
                                        <td width="90%">
                                            <strong>{{ cuadro_pauta.total.pilar }}</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{ cuadro_pauta.total.porc }}</strong>
                                        </td>
                                    </tr>
                                
                                    <tr v-for="detalle in cuadro_pauta.detalle">
                                        <td>{{ detalle.descripcion.substr(0, 40) }}......</td>
                                        <td class="text-center">{{ detalle.porc }}</td>
                                    </tr>
                                </template>
                                
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>

        

        
        <!-- <tabla-variedad-por-seccion-tres @filtro="filtro"></tabla-variedad-por-seccion-tres> -->
        
    </div>
</template>

<script>

    import FiltroCompleto from '../FiltroCompleto.vue'
    // import TablaVaridadPorSeccion from '/component/variedadPorSeccio/TablaVariedadPorSeccion';
    // import TablaVaridadPorSeccionTres from './TablaVariedadPorSeccion';
    export default {
        components: { FiltroCompleto },
        data() {
            return {
                resumen_pautas: {},
                cuadro_pautas: {},
                filtro : {
                    plataforma_id: [],
                    meses_id: [],
                    unidad_id: [],
                    negocios_id: [],
                    file_id: [],
                    fecha_ini: null,
                    fecha_fin: null,
                },
                muestraFiltro : {
                    plataforma : false,
                    meses : true,
                    fecha_ini : true,
                    fecha_fin : true,
                    negocios : true,
                    unidad_negocios : false,
                    files : false,
                }
            }
        },
        // components: {
        //     TablaVaridadPorSeccionTres,
        // },

        methods: {
            aplicaFiltro(filtro) {
                this.filtro = filtro;
                this.recuperaDatos();
            },

            recuperaDatos(){
                axios.post("api/punto_contacto", {
                    'filtro' : this.filtro
                }) //.then(({ data }) => (this.datos = data.data));
                .then(({data})=>{
                    this.resumen_pautas = data.data.resumen_pautas;
                    this.cuadro_pautas = data.data.cuadro_pautas;
                });
            },

            async mesInicial(){
                await axios.get("api/mes_inicial", {
                    'filtro' : this.filtro
                }) //.then(({ data }) => (this.datos = data.data));
                .then(({data})=>{
                    this.filtro.meses_id = data;
                    this.click = 1;
                });
            },

        },

        mounted () {
            this.mesInicial();
            // this.recuperaDatos();
        },

        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.aplicaFiltro(this.filtro); // call it in the context of your component object
                    // this.recuperaVariedades(); // call it in the context of your component object
                },
                deep: true
            }
        }, 

    }
</script>

<style lang="scss" scoped>

</style>