// Body
$body-bg: #f8fafc;

// $primary: #95C11F;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.blue {
    color : $blue;
}
.indigo {
    color : $indigo;
}
.purple {
    color : $purple;
}
.pink {
    color : $pink;
}
.red {
    color : $red;
}
.orange {
    color : $orange;
}
.yellow {
    color : $yellow;
}
.green {
    color : $green;
}
.teal {
    color : $teal;
}
.cyan {
    color : $cyan;
}

.enex {
    color: #014897;
}

.text-primary {
    color: #000000 !important;
}

.bg-primary {
    background-color: #000000 !important;
}

.border-primary {
    border-color: #000000 !important;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #000000a8;
    border-color: #000000;
}

.sb-sidenav-dark {
    background-color: #fff  !important;
    color: rgba(255, 255, 255, 0.5) !important;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: rgba(0, 0, 0, 0.8)  !important;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: rgba(0, 0, 0, 0.5) !important;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: rgba(0, 0, 0, 0.25) !important;
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: rgba(0, 0, 0, 0.25) !important;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    color: #FFF !important;
    background-color: #000 !important;
}