.blue {
  color: #3490dc;
}

.indigo {
  color: #6574cd;
}

.purple {
  color: #9561e2;
}

.pink {
  color: #f66d9b;
}

.red {
  color: #e3342f;
}

.orange {
  color: #f6993f;
}

.yellow {
  color: #ffed4a;
}

.green {
  color: #38c172;
}

.teal {
  color: #4dc0b5;
}

.cyan {
  color: #6cb2eb;
}

.enex {
  color: #014897;
}

.text-primary {
  color: #000000 !important;
}

.bg-primary {
  background-color: #000000 !important;
}

.border-primary {
  border-color: #000000 !important;
}

.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #000000a8;
  border-color: #000000;
}

.sb-sidenav-dark {
  background-color: #fff !important;
  color: rgba(255, 255, 255, 0.5) !important;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: rgba(0, 0, 0, 0.5) !important;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: rgba(0, 0, 0, 0.25) !important;
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: rgba(0, 0, 0, 0.25) !important;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
  color: #FFF !important;
  background-color: #000 !important;
}

