<template>
    <div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Filtros
                </button>
                </h2>
                <div id="flush-collapseOne" class="accordion" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <form @submit.prevent="cargarDatos()" class="form-horizontal">
                            <div class="card-body">
                                <div class="row">
                                    
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Estudio</label>
                                            <div>
                                                <select name="estudio" class="form-select" v-model="form.estudio" :class="{ 'is-invalid': form.errors.has('estudio') }">
                                                    <option v-for="item in estudios" :value="item.id" :key="item.id">
                                                    {{ item.descripcion }}
                                                    </option>
                                                </select>

                                                <!-- <input class="form-control" v-model="form.name" type="text" name="name" :class="{ 'is-invalid': form.errors.has('email') }"> -->
                                                <div class="invalid-feedback" v-if="form.errors.has('estudio')" v-html="form.errors.get('estudio')" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Fecha Inicio</label>
                                            <div>
                                                <datepicker :use-utc="true" input-class="form-control" v-model="form.fecha_ini" name="fecha_ini" :language="es" :monday-first="true" required></datepicker>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Fecha Fin</label>
                                            <div>
                                                <datepicker :use-utc="true" input-class="form-control" v-model="form.fecha_fin" name="fecha_fin" :language="es" :monday-first="true" required></datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer mt-4">
                                <button type="submit" class="btn btn-primary">Cargar</button>
                            </div>
                        </form>

                </div>
            </div>

        </div>
    </div>
</template>

<script>

    import Form from 'vform';
    import Datepicker from 'vuejs-datepicker';
    import {es} from 'vuejs-datepicker/dist/locale'

    export default {
        components: { Datepicker, Form },
        data() {
            return {
                estudios: {},
                es: es,
                form: new Form({
                    estudio: null,
                    fecha_ini: null,
                    fecha_fin: null,
                }),
            }
        },

        methods: {
            async cargarDatos2() {
                await axios.post("sync", {
                    'filtro' : this.filtro
                })
                .then(({data})=>{
                    console.log(data);
                });
            },
            getEstudios() {
                axios.get('api/doit/estudios')
                    .then(response => {
                        console.log('por acá');
                        this.estudios = response.data.data;
                    });
            },

            cargarDatos(){
                this.form.post('api/sync')
                .then((response)=>{
                    // this.estudios = response.data.data;
                })                
            }
        },

        created () {
            this.getEstudios();
        },
        
    }
</script>

<style lang="scss" scoped>

</style>