<template>
    <div>

        <!-- {{ filtro.meses_id }} -->
        <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro" :filtro="filtro"></filtro-completo>

        <div class="col-xl-12 mt-4">
            <div class="card mb-4">
                <div class="card-header text-primary">
                    <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                    Resultados
                </div>
                <div class="card-body">
                    <div class="mb-4">

                        <!-- <div class="row">
                            <div class="card-body">
                                    <div class="input-group">
                                        <input v-model="filtro.file" class="form-control" type="text" placeholder="Buscar por File/Dirección..." aria-label="Buscar por File/Dirección..." aria-describedby="btnNavbarSearch" />
                                        <button @click="aplicaFiltro(filtro)" class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                                    </div>
                            </div>
                        </div> -->

                        <table class="table table-hover table-bordered border-primary">
                            <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Tienda</th>
                                    <th class="text-center">Fecha Eval.</th>
                                    <th class="text-center">Mobile</th>
                                    <th class="text-center">Evaluación</th>
                                    <th class="text-center">TV y VA</th>
                                    <th class="text-center">Evaluación</th>
                                    <th class="text-center">Linea Blanca</th>
                                    <th class="text-center">Evaluación</th>
                                    <th class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(evaluacion, index) in evaluaciones" :key="index">
                                    <td class="text-center">
                                        {{ evaluacion.id }}
                                    </td>
                                    <td>
                                        {{ evaluacion.direccion }}
                                    </td>
                                    <td class="text-center">
                                        {{ fechaTramo(evaluacion.FEC_EVAL) }}
                                    </td>
                                    <td class="text-center">
                                        {{ evaluacion.puntaje_total_isla > 0 ? evaluacion.porc_isla : "-" }}
                                    </td>
                                    <td class="text-center">
                                        <div v-if="evaluacion.puntaje_total_isla > 0">
                                            <button class="btn btn-primary btn-sm" @click="newModal(evaluacion.cod_tarea, 1)">
                                                Evaluacion
                                            </button>
                                        </div>
                                        <div v-else>-</div>
                                    </td>
                                    <td class="text-center">
                                        {{ evaluacion.puntaje_total_tienda > 0 ? evaluacion.porc_tienda : "-"  }}
                                    </td>
                                    <td class="text-center">
                                        <div v-if="evaluacion.puntaje_total_tienda > 0">
                                            <button class="btn btn-primary btn-sm" @click="newModal(evaluacion.cod_tarea, 2)">
                                                Evaluación
                                            </button>
                                        </div>
                                        <div v-else>-</div>
                                    </td>
                                    <td class="text-center">
                                        {{ evaluacion.puntaje_total_lavado > 0 ? evaluacion.porc_lavado : "-" }}
                                    </td>
                                    <td class="text-center">
                                        <div v-if="evaluacion.puntaje_total_lavado > 0">
                                            <button class="btn btn-primary btn-sm" @click="newModal(evaluacion.cod_tarea, 3)">
                                                Evaluación
                                            </button>
                                        </div>
                                        <div v-else>-</div>
                                    </td>
                                    <td class="text-center">
                                        {{ evaluacion.porc }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div v-if="click == 1 && filtro.meses_id != []" class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Evaluación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <evaluacion-detalle  :cod_tarea="cod_tarea" :pauta="pauta"></evaluacion-detalle>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" @click="generateReport()">Exportar PDF</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal print PSD -->
        <div class="modal fade" id="addNew2" tabindex="-1" role="dialog" aria-labelledby="addNewTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Evaluación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <vue-html2pdf 
                            :show-layout="false" 
                            :float-layout="true" 
                            :enable-download="true" 
                            :preview-modal="true" 
                            :paginate-elements-by-height="1400" 
                            filename="evaluacion" 
                            :pdf-quality="2" 
                            :manual-pagination="false" 
                            :vMargin="5"
                            pdf-format="letter" 
                            pdf-orientation="portrait" 
                            pdf-content-width="800px" 
                            ref="html2Pdf" 
                        > 
                            <section slot="pdf-content"> 
                                <div class="container">
                                    <evaluacion-detalle v-if="click == 1"   :cod_tarea="cod_tarea" :pauta="pauta"></evaluacion-detalle>
                                </div>
                            </section> 
                        </vue-html2pdf> 
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>

    import FiltroCompleto from '../FiltroCompleto.vue'
    import EvaluacionDetalle from './EvaluacionDetalle.vue';
    import VueHtml2pdf from 'vue-html2pdf';

    export default {
        components: { FiltroCompleto, EvaluacionDetalle, VueHtml2pdf },
        data() {
            return {
                click: 0,
                cod_tarea: 0,
                pauta: 0,
                evaluaciones: {},
                filtro : {
                    plataforma_id: [],
                    // meses_id: [{ "name": "Agosto 2021", "code": "3" }],
                    meses_id: [],
                    unidad_id: [],
                    negocios_id: [],
                    file_id: [],
                    fecha_ini: null,
                    fecha_fin: null,
                    // file: []
                },
                muestraFiltro : {
                    plataforma : true,
                    meses : true,
                    fecha_ini : false,
                    fecha_fin : false,
                    negocios : true,
                    unidad_negocios : false,
                    files : true,
                }
            }
        },
        // components: {
        //     TablaVaridadPorSeccionTres,
        // },

        methods: {
            aplicaFiltro(filtro) {
                this.filtro = filtro;
                this.recuperaDatos();
            },

            fechaTramo(fecha){
                const ArrayFecha = fecha.split("-");
                const fechaFormato = new Date(ArrayFecha[2], ArrayFecha[1], ArrayFecha[0]);
                const agno = fechaFormato.getFullYear();
                const mes = fechaFormato.getMonth();
                const dia = fechaFormato.getDate();
                const CantidadDeDias = new Date(agno, mes + 1, 0);
                const meses_espanol = [
                    '', 'Enero', 'Febrero', 'Marzo', 'Abril',
                    'Mayo', 'Junio', 'Julio', 'Agosto', 
                    'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                ];

                let fechaEnTramo = '';

                if (dia >= 1 && dia <= 7){
                    fechaEnTramo = "01 al 07 de " + meses_espanol[mes];
                }
                else if (dia >= 8 && dia <= 14){
                    fechaEnTramo = "08 al 14 de " + meses_espanol[mes];
                }
                else if (dia >= 15 && dia <= 21){
                    fechaEnTramo = "15 al 21 de " + meses_espanol[mes];
                }
                else if (dia >= 16){
                    
                    fechaEnTramo = "22 al " + CantidadDeDias.getDate() + " de " + meses_espanol[mes];
                }
                return fechaEnTramo;
            },

            newModal(cod_tarea, pauta){
                
                this.cod_tarea = cod_tarea;
                this.pauta = pauta;
                // this.editmode = false;
                $('#addNew').modal('show');
            },
            generateReport () { 
                // this.local = local;
                this.$refs.html2Pdf.generatePdf() 
            },

            async recuperaDatos(){
                this.evaluaciones = {};
                await axios.post("api/evaluaciones", {
                    'filtro' : this.filtro
                }) //.then(({ data }) => (this.datos = data.data));
                .then(({data})=>{
                    this.evaluaciones = data.data.evaluaciones;
                    this.click = 1;
                });
            },

            async mesInicial(){
                await axios.get("api/mes_inicial", {
                    'filtro' : this.filtro
                }) //.then(({ data }) => (this.datos = data.data));
                .then(({data})=>{
                    this.filtro.meses_id = data;
                    this.click = 1;
                });
            },


        },

        created () {
            this.mesInicial();
            // this.recuperaDatos();
        },

        mounted () {
            this.click = 1;
        },

        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.aplicaFiltro(this.filtro); // call it in the context of your component object
                    // this.recuperaVariedades(); // call it in the context of your component object
                },
                deep: true
            }
        }, 

    }
</script>

<style lang="scss" scoped>

</style>