<template>
    <div v-if="sucursal">

        <!-- {{ cod_tarea }} - {{ pauta }}  -->

        <h1>Reporte {{ sucursal.razon_social }} </h1>
        <h2>Plataforma</h2>

        <div class="contenido">
            <div style="font-family: inherit; text-align: right; margin-top: 425px">
                <span style="font-size: 34px; font-family: sans-serif, helvetica; color: black; font-weight: bold">
                    - {{ sucursal.FEC_EVAL ? fechaTramo(sucursal.FEC_EVAL) : "" }} - {{ sucursal.VISITA  }}
                    <!-- - {{ fechaTramo(sucursal.FEC_EVAL) }} - Visita 1 -->
                </span>
            </div>
            <hr>
            <div style="font-family: inherit; text-align: right;">
                <span style="font-size: 26px; font-family: sans-serif, helvetica; color: black">Resultado Global:</span>
            </div>

            <div style="font-family: inherit; text-align: right">
                <span style="font-size: 40px; font-family: sans-serif, helvetica; color: black; font-weight: bold; padding-top: 300px">
                    {{ globales.porc }} %
                </span>
            </div>

            <div style="font-family: inherit; text-align: right;">
                <span style="font-size: 26px; font-family: sans-serif, helvetica; color: #000">Direccion:</span>
            </div>
            <div style="font-family: inherit; text-align: right;">
                <span style="font-size: 26px; font-family: sans-serif, helvetica; color: black">
                    {{ sucursal.direccion}}
                </span>
            </div>
            <div style="font-family: inherit; text-align: right;">
                <span style="font-size: 26px; font-family: sans-serif, helvetica; color: #000">Región:</span>
            </div>
            <div style="font-family: inherit; text-align: right;">
                <span style="font-size: 26px; font-family: sans-serif, helvetica; color: black">
                    {{ sucursal.region }}
                </span>
            </div>
			<div class="html2pdf__page-break"/>


            <!-- Personas Asociadas -->
            <div style="font-family: inherit">
                <span style="font-size: 34px; font-family: sans-serif, helvetica; color: black; font-weight: bold">Personas Asociadas</span>
            </div>
            <hr>

            <div class="row">
                <div class="col-25">
                    <label for="fname">Jefe de Zona:</label>
                </div>
                <div class="col-75">
                    <input v-if="pauta==1" type="text" id="fname" name="firstname" v-model="sucursal.jefe_zona" disabled>
                    <input v-if="pauta==2" type="text" id="fname" name="firstname" v-model="sucursal.j_zona_tienda" disabled>
                    <input v-if="pauta==3" type="text" id="fname" name="firstname" v-model="sucursal.jefe_lavado" disabled>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="sg-area">Subgerente de Área:</label>
                </div>
                <div class="col-75">
                    <input v-if="pauta==1" type="text" id="sg-area" name="firstname" v-model="sucursal.subgerente_area" disabled>
                    <input v-if="pauta==2" type="text" id="sg-area" name="firstname" v-model="sucursal.s_zona_tienda" disabled>
                    <input v-if="pauta==3" type="text" id="sg-area" name="firstname" v-model="sucursal.subgerente_area" disabled>
                </div>
            </div>

            <div style="font-family: inherit; margin-top: 42px">
                <span v-if="pauta==1" style="font-size: 34px; font-family: sans-serif, helvetica; color: black; font-weight: bold">Pauta Mobile</span>
                <span v-if="pauta==2" style="font-size: 34px; font-family: sans-serif, helvetica; color: black; font-weight: bold">Pauta TV y VA</span>
                <span v-if="pauta==3" style="font-size: 34px; font-family: sans-serif, helvetica; color: black; font-weight: bold">Linea Blanca</span>
            </div>
            <hr>

            <div  v-if="pauta==1" class="row">
                <div class="col-25">
                    <label for="fname">Medio de Pago:</label>
                </div>
                <div class="col-75">
                    <input v-if="sucursal.MEDIO_PAGO == 1" type="text" id="fname" name="firstname" value="Efectivo" disabled> 
                    <input v-if="sucursal.MEDIO_PAGO == 2" type="text" id="fname" name="firstname" value="Tarjeta de credito/débito" disabled> 
                    <input v-if="sucursal.MEDIO_PAGO == 3" type="text" id="fname" name="firstname" value="App MiCopiloto" disabled> 
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="lname">Tramo Horario:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="firstname" v-model="tramoHorario"  disabled>
                </div>
            </div>


            <div class="row">
                <div class="col-25">
                    <label for="lname">Nombre Colaborador:</label>
                </div>
                <div class="col-75">
                    <input v-if="pauta==1" type="text" id="fname" name="firstname" v-model="sucursal.P1_15_A" disabled> 
                    <input v-if="pauta==2" type="text" id="fname" name="firstname" v-model="sucursal.P2_6_A" disabled> 
                    <input v-if="pauta==3" type="text" id="fname" name="firstname" v-model="sucursal.P3_13_A" disabled> 

                </div>
            </div>


            <div v-if="pauta != 3" class="row">
                <div class="col-25">
                    <label for="lname">Nombre Colaborador Boleta:</label>
                </div>
                <div class="col-75">
                    <input v-if="pauta == 1" type="text" id="fname" name="firstname" v-model="sucursal.P1_18" disabled> 
                    <input v-else type="text" id="fname" name="firstname" v-model="sucursal.P2_18" disabled> 
                </div>
            </div>

            <div class="html2pdf__page-break"/>

            <!-- Bienvenida -->

             <table style="margin-top: 20px" v-if="globales.pilar_1_puntaje_total > 0">
                <thead>
                    <tr>
                        <th width="90%">Bienvenida</th>
                        <th width="10%">
                            {{ globales.pilar_1_puntaje_total > 0 ? globales.pilar_1_porc + "%" : "N/A"  }}
                        </th>
                    </tr>
                </thead>
                <EvaluacionDetalleLine v-for="bienvenida in pilares.pilar_1" :key="bienvenida.pregunta" :sucursal="sucursal" :pregunta="bienvenida.pregunta" :descripcion="bienvenida.descripcion" ></EvaluacionDetalleLine>
                   
            </table>

            <table style="margin-top: 20px" v-if="globales.pilar_2_puntaje_total > 0">
                <thead>
                    <tr>
                        <th width="90%">Actitud</th>
                        <th width="10%">
                            {{ globales.pilar_2_puntaje_total > 0 ? globales.pilar_2_porc + "%" : "N/A"  }}
                        </th>
                    </tr>
                </thead>
                    
                <EvaluacionDetalleLine v-for="bienvenida in pilares.pilar_2" :key="bienvenida.pregunta" :sucursal="sucursal" :pregunta="bienvenida.pregunta" :descripcion="bienvenida.descripcion" ></EvaluacionDetalleLine>
                <!-- <tbody>
                    <tr v-for="bienvenida in pilares.pilar_2">
                        <td>{{ bienvenida.pregunta }} {{ bienvenida.descripcion }}</td>
                        <td>
                            <span v-if="bienvenida.puntaje_total == 0 && bienvenida.puntaje == 0">N/A</span>
                            <span v-else-if="bienvenida.respuesta == 1">CUMPLE</span>
                            <span v-else-if="bienvenida.respuesta == 2">NO CUMPLE</span>

                        </td>
                    </tr>
                </tbody> -->
            </table>

            <div class="html2pdf__page-break"/>

            <table style="margin-top: 20px" v-if="globales.pilar_3_puntaje_total > 0">
                <thead>
                    <tr>
                        <th width="90%">Confianza</th>
                        <th width="10%">
                            {{ globales.pilar_3_puntaje_total > 0 ? globales.pilar_3_porc + "%" : "N/A"  }}
                        </th>
                    </tr>
                </thead>
                <EvaluacionDetalleLine v-for="bienvenida in pilares.pilar_3" :key="bienvenida.pregunta" :sucursal="sucursal" :pregunta="bienvenida.pregunta" :descripcion="bienvenida.descripcion" ></EvaluacionDetalleLine>
                <!-- <tbody>
                    <tr v-for="bienvenida in pilares.pilar_3">
                        <td>{{ bienvenida.pregunta }} {{ bienvenida.descripcion }}</td>
                        <td>
                            <span v-if="bienvenida.puntaje_total == 0 && bienvenida.puntaje == 0">N/A</span>
                            <span v-else-if="bienvenida.respuesta == 1">CUMPLE</span>
                            <span v-else-if="bienvenida.respuesta == 2">NO CUMPLE</span>

                        </td>
                    </tr>
                </tbody> -->
            </table>

            <table style="margin-top: 20px" v-if="globales.pilar_4_puntaje_total > 0">
                <thead>
                    <tr>
                        <th width="90%">Rapidez</th>
                        <th width="10%">
                            {{ globales.pilar_4_puntaje_total > 0 ? globales.pilar_4_porc + "%" : "N/A"  }}
                        </th>
                    </tr>
                </thead>
                <EvaluacionDetalleLine v-for="bienvenida in pilares.pilar_4" :key="bienvenida.pregunta" :sucursal="sucursal" :pregunta="bienvenida.pregunta" :descripcion="bienvenida.descripcion" ></EvaluacionDetalleLine>
                <!-- <tbody>
                    <tr v-for="bienvenida in pilares.pilar_4" :key="bienvenida.pregunta">
                        <td>{{ bienvenida.pregunta }} {{ bienvenida.descripcion }}</td>
                        <td>
                            <span v-if="bienvenida.puntaje_total == 0 && bienvenida.puntaje == 0">N/A</span>
                            <span v-else-if="bienvenida.respuesta == 1">CUMPLE</span>
                            <span v-else-if="bienvenida.respuesta == 2">NO CUMPLE</span>

                        </td>
                    </tr>
                </tbody> -->
            </table>

            <div class="html2pdf__page-break"/>

            <table style="margin-top: 20px" v-if="pauta==2">
                <thead >
                    <tr>
                        <th width="90%">Baño</th>
                        <th width="10%">
                            {{ globales.pilar_5_puntaje_total > 0 ? globales.pilar_5_porc + "%" : "N/A"  }}
                        </th>
                    </tr>
                </thead>
                <EvaluacionDetalleLine v-for="bienvenida in pilares.pilar_5" :key="bienvenida.pregunta" :sucursal="sucursal" :pregunta="bienvenida.pregunta" :descripcion="bienvenida.descripcion" ></EvaluacionDetalleLine>
                <!-- <tbody>
                    <tr v-for="bienvenida in pilares.pilar_5">
                        <td>{{ bienvenida.pregunta }} {{ bienvenida.descripcion }}</td>
                        <td>
                            <span v-if="bienvenida.puntaje_total == 0 && bienvenida.puntaje == 0">N/A</span>
                            <span v-else-if="bienvenida.respuesta == 1">CUMPLE</span>
                            <span v-else-if="bienvenida.respuesta == 2">NO CUMPLE</span>

                        </td>
                    </tr>
                </tbody> -->
            </table>

            <table style="margin-top: 40px">
                <thead>
                    <tr>
                        <th colspan="2" width="100%">Nota Amabilidad (no influye en el puntaje)</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <td v-if="pauta==1" width="10%">{{ sucursal.NOTA1 ? sucursal.NOTA1 : '-' }}</td>
                    <td v-if="pauta==1" width="90%">{{ sucursal.NOTA1_TXT ? sucursal.NOTA1_TXT : '-'  }}</td>

                    <td v-if="pauta==2" width="10%">{{ sucursal.NOTA2 ? sucursal.NOTA2 : '-' }}</td>
                    <td v-if="pauta==2" width="90%">{{ sucursal.NOTA2_TXT ? sucursal.NOTA2_TXT : '-'  }}</td>

                    <td v-if="pauta==3" width="10%">{{ sucursal.NOTA3 ? sucursal.NOTA3 : '-' }}</td>
                    <td v-if="pauta==3" width="90%">{{ sucursal.NOTA3_TXT ? sucursal.NOTA3_TXT : '-'  }}</td>

                </tbody>
            </table>


            <!-- <table style="margin-top: 40px">
                <thead>
                    <tr>
                        <th colspan="2" width="100%">Preguntas que no se consideran en el puntaje</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="pauta==1 && sucursal.P1_22 != null">
                        <td width="90%">P1_22 ¿El atendedor le preguntó si .......</td>
                        <td width="10%">{{ sucursal.P1_22 == 1 ? 'CUMPLE' : 'NO CUMPLE'  }}</td>
                    </tr>
                    <tr v-if="pauta==1 && sucursal.P1_22 == 2">
                        <td colspan="2">
                            <em>
                                {{  sucursal.P1_22_TXT  }}
                            </em>    
                        </td>
                    </tr>

                    <tr v-if="pauta==1 && sucursal.P1_17 != null">
                        <td width="90%">P1_17 El atendedor se encontraba ....... </td>
                        <td width="10%">{{ sucursal.P1_17 == 1 ? 'CUMPLE' : 'NO CUMPLE'  }}</td>
                    </tr>
                    <tr v-if="pauta==1 && sucursal.P1_17 == 2">
                        <td colspan="2">
                            <em>
                                {{  sucursal.P1_17_TXT  }}
                            </em>    
                        </td>
                    </tr>

                    <tr v-if="pauta==2 && sucursal.P2_8 != null">
                        <td width="90%">P2_8 El Cajero se encontraba con ..... </td>
                        <td width="10%">{{ sucursal.P2_8 == 1 ? 'CUMPLE' : 'NO CUMPLE'  }}</td>
                    </tr>
                    <tr v-if="pauta==2 && sucursal.P2_8 == 2">
                        <td colspan="2">
                            <em>
                                {{  sucursal.P2_8_1_detalle  }}
                            </em>    
                        </td>
                    </tr>

                    <tr v-if="pauta==2 && sucursal.P2_19 != null">
                        <td width="90%">P2_19 ¿Hay mesas y sillas ....... </td>
                        <td width="10%">{{ sucursal.P2_19 == 1 ? 'CUMPLE' : 'NO CUMPLE'  }}</td>
                    </tr>

                    <tr v-if="pauta==3 && sucursal.P3_15 != null">
                        <td width="90%">P3_15 El lavador se encontraba ..... </td>
                        <td width="10%">{{ sucursal.P3_15 == 1 ? 'CUMPLE' : 'NO CUMPLE'  }}</td>
                    </tr>
                    <tr v-if="pauta==3 && sucursal.P3_15 == 2">
                        <td colspan="2">
                            <em>
                                {{  sucursal.P3_15_1_detalle  }}
                            </em>    
                        </td>
                    </tr>



                </tbody>
            </table> -->


        </div>

        

    </div>
</template>

<script>
    import EvaluacionDetalleLine from './EvaluacionDetalleLine.vue';
    export default {
        data() {
            return {
                sucursal: {},
                pilares: {},
                globales: {},
                decimales: 0,
                valorTramoHorario: '',
            }
        },
        props: ['cod_tarea', 'pauta'],
        components: { EvaluacionDetalleLine },

        methods: {
            fechaTramo(fecha){
                console.log(fecha);
                const ArrayFecha = fecha.split("-");
                const fechaFormato = new Date(ArrayFecha[0], ArrayFecha[1]-1, ArrayFecha[2]);
                console.log(fechaFormato);
                const agno = fechaFormato.getFullYear();
                const mes = fechaFormato.getMonth();
                const dia = fechaFormato.getDate();
                const CantidadDeDias = new Date(agno, mes + 1, 0);
                const meses_espanol = [
                    'Enero', 'Febrero', 'Marzo', 'Abril',
                    'Mayo', 'Junio', 'Julio', 'Agosto', 
                    'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                ];

                let fechaEnTramo = '';

                if (dia >= 1 && dia <= 7){
                    fechaEnTramo = "01 al 07 de " + meses_espanol[mes];
                }
                else if (dia >= 8 && dia <= 14){
                    fechaEnTramo = "08 al 14 de " + meses_espanol[mes];
                }
                else if (dia >= 15 && dia <= 21){
                    fechaEnTramo = "15 al 21 de " + meses_espanol[mes];
                }
                else if (dia >= 16){
                    
                    fechaEnTramo = "22 al " + CantidadDeDias.getDate() + " de " + meses_espanol[mes];
                }
                return  fechaEnTramo;
            },
            
            async recuperaDatos(){
                //let link = "/api/evaluacion/" + this.filtro.medicion_id + "/" + this.local.cod_sucursal;
                // this.filtro.sucursal_id = this.local.cod_sucursal;
                this.globales = {};
                this.sucursal = {};
                this.pilares = {};
                await axios.post("api/evaluacion" , {
                    'cod_tarea' : this.cod_tarea,
                    'pauta' : this.pauta,
                })
                .then(({data})=>{
                    // this.datos = data.data;
                    this.globales = data.data.globales;
                    this.sucursal = data.data.sucursal;
                    this.pilares = data.data.pilares;
                });
            },
        },
        computed: {
            tramoHorario(){
                console.log(this.sucursal.HR_INICIO1);
                let hora = '';
                let tramo = '';
                if (this.pauta == 1){
                    hora = this.sucursal.HR_INICIO1.substr(0, 2);
                }
                else if (this.pauta == 2){
                    hora = this.sucursal.HR_INICIO2.substr(0, 2);
                }
                else if (this.pauta == 3){
                    hora = this.sucursal.HR_INICIO3.substr(0, 2);
                }

                if (hora >= 7 && hora <=13){
                    tramo = "8:00 - 13:59";
                }
                else {
                    tramo = "14:00 - 20:59";
                }

                return tramo;
            },
        },
        created () {
            this.recuperaDatos();
        },
        watch: {
            cod_tarea: {
                handler: function(val, oldVal) {
                    this.recuperaDatos(); // call it in the context of your component object
                },
                deep: true
            },
            pauta: {
                handler: function(val, oldVal) {
                    this.recuperaDatos(); // call it in the context of your component object
                },
                deep: true
            }
        }, 

    }
</script>

<style lang="scss" scoped>
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        font-size: 14px
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        font-size: 14px
    
    }
    input[type=submit]:hover {
        background-color: #45a049;
    }

    body{ 
        font-family:Helvetica, arial;
    }
    h1, h2{
        text-align: right;
        text-transform: uppercase;
        font-family:Helvetica, arial, sans-serif;
    }
    .contenido{
        font-size: 20px;
    }
    #primero{
    background-color: #ccc;
    }
    #segundo{
    color:#44a359;
    }
    #tercero{
    text-decoration:line-through;
    }

    .saltopagina{
        page-break-after:always;
    }

    .col-25 {
        float: left;
        width: 35%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 65%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    table {
        border-collapse: collapse;
        width: 100%;
    }
    th {
        background-color: black;
        color: white;
    }

    td { 
        color: #8A8B8E;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-size: 14px
    }
</style>