<template>
    <tbody>
        <!-- {{ pregunta }} {{ descripcion }} {{ sucursal[pregunta] }} -->
        <tr>
            <td width="90%">{{ pregunta }} {{ descripcion.substr(0, 40) }}.....</td>
            <td width="10%">
                <span v-if="sucursal[pregunta] == null || sucursal[pregunta] == 0 || sucursal[pregunta] == 99">N/A</span>
                <span v-else-if="sucursal[pregunta] == 1">CUMPLE</span>
                <span v-else-if="sucursal[pregunta] == 2">NO CUMPLE</span>
            </td>
        </tr>
        <tr v-if="sucursal[pregunta + '_1']">
            <td>
                <em>
                    {{ sucursal[pregunta + '_1_detalle'] }}
                </em>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </tbody>
</template>

<script>
    
    export default {
        props: ['sucursal', 'pregunta', 'descripcion'],
    }
</script>

<style lang="scss" scoped>
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        font-size: 14px
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        font-size: 14px
    
    }
    input[type=submit]:hover {
        background-color: #45a049;
    }

    body{ 
        font-family:Helvetica, arial;
    }
    h1, h2{
        text-align: right;
        text-transform: uppercase;
        font-family:Helvetica, arial, sans-serif;
    }
    .contenido{
        font-size: 20px;
    }
    #primero{
    background-color: #ccc;
    }
    #segundo{
    color:#44a359;
    }
    #tercero{
    text-decoration:line-through;
    }

    .saltopagina{
        page-break-after:always;
    }

    .col-25 {
        float: left;
        width: 35%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 65%;
        margin-top: 6px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    table {
        border-collapse: collapse;
        width: 100%;
    }
    th {
        background-color: #2a81ef;
        color: white;
    }

    td { 
        color: #8A8B8E;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-size: 14px
    }
</style>