<template>
    <div class="card mb-2 mt-5">

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Filtros
                </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <form @submit.prevent="filtrar()" class="form-horizontal">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4" v-if="muestraFiltro.plataforma">
                                        <div class="mb-3">
                                            <label for="plataforma" class="form-label">Plataforma</label>
                                            <div>
                                                <multiselect v-model="filtro.plataforma_id" placeholder="Seleccionar opciones" label="name" track-by="code" :options="plataformas" :multiple="true" :taggable="true" @tag="addTag" :close-on-select="false"></multiselect>
                                                <!-- <multiselect v-model="filtro.plataforma_id" placeholder="Seleccionar opciones" :options="plataformas" :multiple="true" :close-on-select="false">
                                                    <template v-if="filtro.plataforma_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.plataforma_id.length &amp;&amp; !isOpen">{{ filtro.plataforma_id.length }} opciones seleccionadas</span></template>
                                                </multiselect> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4" v-if="muestraFiltro.meses">
                                        <div class="mb-3">
                                            <label for="meses" class="form-label">Meses</label>
                                            <div>
                                                <multiselect v-model="filtro.meses_id" placeholder="Seleccionar opciones" label="name" track-by="code" :options="meses" :multiple="true" :taggable="true" @tag="addTag" :close-on-select="false"></multiselect>
                                                <!-- <multiselect v-model="filtro.meses_id" :options="meses" :multiple="true" :close-on-select="false">
                                                    <template v-if="filtro.meses_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.meses_id.length &amp;&amp; !isOpen">{{ filtro.meses_id.length }} opciones seleccionadas</span></template>
                                                </multiselect> -->
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="col-md-2" v-if="muestraFiltro.fecha_ini">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Fecha Inicio</label>
                                            <div>
                                                <datepicker :use-utc="true" input-class="form-control" v-model="filtro.fecha_ini" name="fecha_ini" :language="es" :monday-first="true"></datepicker>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2" v-if="muestraFiltro.fecha_fin">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Fecha Fin</label>
                                            <div>
                                                <datepicker :use-utc="true" input-class="form-control" v-model="filtro.fecha_fin" name="fecha_fin" :language="es" :monday-first="true"></datepicker>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3" v-if="muestraFiltro.negocios">
                                        <div class="mb-3">
                                            <label for="negocios" class="form-label">Negocio</label>
                                            <div>
                                                <multiselect v-model="filtro.negocios_id" placeholder="Seleccionar opciones" label="name" track-by="code" :options="negocios" :multiple="true" :taggable="true" @tag="addTag" :close-on-select="false"></multiselect>
                                                <!-- <multiselect v-model="filtro.negocios_id" :options="negocios" :multiple="true" :close-on-select="false">
                                                    <template v-if="filtro.negocios_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.negocios_id.length &amp;&amp; !isOpen">{{ filtro.negocios_id.length }} opciones seleccionadas</span></template>
                                                </multiselect> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" v-if="muestraFiltro.unidad_negocios">
                                        <div class="mb-3">
                                            <label for="unidad_negocios" class="form-label">Unidad de Negocio</label>
                                            <div>
                                                <multiselect v-model="filtro.unidad_negocios_id" :options="unidad_negocios" :multiple="true" :close-on-select="false">
                                                    <template v-if="filtro.unidad_negocios_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.unidad_negocios_id.length &amp;&amp; !isOpen">{{ filtro.unidad_negocios_id.length }} opciones seleccionadas</span></template>
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" v-if="muestraFiltro.files">
                                        <div class="mb-3">
                                            <label for="files" class="form-label">Tienda</label>
                                            <div>
                                                <!-- <multiselect v-model="filtro.files_id" :options="files" :multiple="true" :close-on-select="false">
                                                    <template v-if="filtro.files_id" slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="filtro.files_id.length &amp;&amp; !isOpen">{{ filtro.files_id.length }} opciones seleccionadas</span></template>
                                                </multiselect> -->
                                                <multiselect v-model="filtro.file_id" :options="files" :multiple="true" :close-on-select="false">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                


                                
                            </div>
                            <div class="card-footer mt-4">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                                <button type="button" @click="limpiaFiltros()" class="btn btn-default float-right">Limpiar Filtros</button>
                            </div>
                        </form>

                </div>
            </div>

        </div>

    </div>
</template>



<script>
    import Multiselect from 'vue-multiselect'
    import Datepicker from 'vuejs-datepicker';
    import {es} from 'vuejs-datepicker/dist/locale'
    
    export default {
        components: { Multiselect, Datepicker },
        data() {
            return {
                plataformas : [
                    {name: 'PLATAFORMA 1', code: 'RBA'}, 
                    {name: 'PLATAFORMA 2', code: 'COCO'}, 
                    {name: 'PLATAFORMA 3', code: 'CODO'}, 
                    {name: 'PLATAFORMA 4', code: 'DODO'}
                ],
                meses : [
                    {name: 'Noviembre 2021', code: '6'}, 
                    {name: 'Octubre 2021', code: '5'}, 
                    {name: 'Septiembre 2021', code: '4'}, 
                    {name: 'Agosto 2021', code: '3'}, 
                    {name: 'Julio 2021', code: '2'}, 
                    {name: 'Junio 2021', code: '1'}
                ],
                negocios : [
                    {name: 'Mobile', code: '1'}, 
                    {name: 'TV y AV', code: '2'}, 
                    {name: 'Linea Blanca', code: '3'}
                ],
                unidad_negocios : ['XXX'],
                files : ['YYY'],

                value: null,
                es: es
                
            }
        },
        props: ['muestraFiltro', 'filtro'], 
        methods: {
            loadFiles(){
                axios.get("api/file/list").then(({ data }) => (this.files = data.data));
            },
            // loadSubProductos(){
            //     axios.post("api/sub_productos/list", {'familia': this.filtro.familia_id}).then(({ data }) => (this.tipo_productos = data.data));
            // },
            // loadNecesidades(){
            //     axios.get("api/necesidades/list").then(({ data }) => (this.necesidades = data.data));
            // },
            // loadParques(){
            //     axios.get("api/parques/list").then(({ data }) => (this.parques = data.data));
            // },
            // loadFamiliaProductios(){
            //     axios.get("api/familia_productos/list").then(({ data }) => (this.familiaProducto = data.data));
            // },

            limpiaFiltros(){
                // console.log('filtros');
                this.filtro.plataforma_id = [];
                // this.filtro.meses_id = [];
                this.filtro.unidad_id = [];
                this.filtro.negocios_id = [];
                this.filtro.file_id = [];
                this.filtro.fecha_ini = null;
                this.filtro.fecha_fin = null;
                
            },
            filtrar(){
                this.$emit("aplicaFiltro", this.filtro)//<-- Justo aquí
            },
            onChange (value) {
                this.loadSubProductos();
            },
            addTag (newTag) {
                // console.log('POR ACÁ PASO');
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                }
                this.options.push(tag)
                this.value.push(tag)
            }

        },

        computed: {
            muestraTipoProducto() {
                if (this.filtro.familia_id.length == 0){
                    this.filtro.tipo_producto_id = [];
                    return true;
                }
                else {
                    return false;
                }
            }
        },

        created() {
            this.$Progress.start();
            this.loadFiles();
            // this.loadFamiliaProductios();
            // this.loadNecesidades();
            // this.loadParques();
            this.$Progress.finish();
        },

        // 
        // watch: {
        //     filtro: {
        //         handler: function(val, oldVal) {
        //         //   console.log(val);
        //             this.loadSubProductos(); // call it in the context of your component object
        //         },
        //         deep: true
        //     }
        // }
    }

    
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss" scoped>

</style>