<template>
    <div>
        
        <div v-if="$gate.isBiblioteca()">

            <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro" :filtro="filtro"></filtro-completo>

            <div v-if="filtro.meses_id.length > 0 && filtro.file_id.length > 0">
                <div  class="row mb-4" v-for="dato in datos" :key="dato.id">
                    <div v-if="dato.FOTO_BOL1" class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <img height="200px" :src="dato.FOTO_BOL1">
                            </div>
                            <div class="card-body">
                                <div class="text-center">Boleta Combustible</div>
                                <a :href="dato.FOTO_BOL1" target="_blank">
                                    <div  class="text-center">
                                        <i class="fas fa-download"></i> File {{ dato.eds_id }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div v-if="dato.FOTO_BOL2" class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <img height="200px" :src="dato.FOTO_BOL2">
                            </div>
                            <div class="card-body">
                                <div class="text-center">Boleta Tienda</div>
                                <a :href="dato.FOTO_BOL2" target="_blank">

                                    <div  class="text-center">
                                        <i class="fas fa-download"></i> File {{ dato.eds_id }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div v-if="dato.FOTO_BOL3" class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <img height="200px" :src="dato.FOTO_BOL3">
                            </div>
                            <div class="card-body">
                                <div class="text-center">Boleta Lavado</div>
                                <a :href="dato.FOTO_BOL3" target="_blank">
                                    <div  class="text-center">
                                        <i class="fas fa-download"></i> File {{ dato.eds_id }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else>
                <h4 class="text-center">Seleccionar filtros</h4>
            </div>
        </div>

        <div v-else>
            <not-found></not-found>
        </div>

        

        

    </div>
</template>

<script>
  import FiltroCompleto from '../FiltroCompleto.vue'


    export default {
        components: { FiltroCompleto },
        data(){
          return {
            datos: {},
            datosFormato: {},
            datacollection: {},
            valor: 54,
            pauta : null,
            filtro : {
                plataforma_id: [],
                meses_id: [],
                unidad_id: [],
                negocios_id: [],
                file_id: [],
                fecha_ini: null,
                fecha_fin: null,
            },
            muestraFiltro : {
                plataforma : false,
                meses : true,
                fecha_ini : false,
                fecha_fin : false,
                negocios : false,
                unidad_negocios : false,
                files : true,
            }
          }
        },
        mounted () {
          
        },
        methods: {
            aplicaFiltro(filtro) {
                this.filtro = filtro;
                if (this.filtro.meses_id.length > 0 && this.filtro.file_id.length > []){
                    this.recuperaTotales();
                }
                
            },
            async recuperaTotales(){
                    this.$Progress.start()
                    await axios.post("api/biblioteca", {
                        'filtro' : this.filtro
                    }) //.then(({ data }) => (this.datos = data.data));
                    .then(({data})=>{
                        this.datos = data.data;
                        // this.formato_total = data.data.formato_0;
                        this.pauta = data.data;
                    });

                    
                    this.$Progress.finish()
                },
            
        },
      
        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.aplicaFiltro(this.filtro); // call it in the context of your component object
                },
                deep: true
            }
        }

    }
</script>

<style lang="css">
.small {
  max-width: 800px;
  max-height: 500px;
  margin:  50px auto;
}
</style>
</script>

<style lang="scss" scoped>

</style>