<template>
    <div>
        <Doughnut
            ref="skills_chart"
            :chart-data="datacollection"
            :options="options"
            :height="150">
        </Doughnut>
    </div>
</template>

<script>
    import Doughnut from '../Doughnut';
    export default {
        components: { Doughnut },
        data() {
            return {
                valor: this.valor_grafico
            }
        },
        props: ['valor_grafico', 'title', 'color'], 
        methods: {
            fillData ()
            {
                // console.log(this.datos);
                this.datacollection = {
                    title: {
                            display: false,
                            text: 'Chart.js Line Chart - Legend'
                        },
                    labels: [this.title, ''],
                    datasets: [
                        {
                            backgroundColor: [this.color , '#fff'],
                            data: [this.valor_grafico * 1, 100 - this.valor_grafico]
                        }
                    ]
                }

                this.options = {
                    responsive: true, 
                    maintainAspectRatio: false, 
                    animation: {
                        animateRotate: true
                    },
                    legend : {
                        display : false
                    }
                }
                // console.log(this.valor_grafico + '*');
            }
        },
        watch: {
            valor_grafico() {
                console.log(this.valor_grafico + '*');
                this.fillData ();
            }
        },
        created () {
            this.fillData ();
        },

        

        
        
    }
</script>

<style lang="scss" scoped>

</style>