<template>
    <div>

        <!-- {{ datos }} -->
        <sparkline width="100" height="30">
            <sparklineBar
            :data="spData4"
            :margin="spMargin4"
            :limit="spData4.length"
            :styles="spBarStyles4"
            :refLineStyles="spRefLineStyles4" 
            />
        </sparkline>
    </div>
</template>

<script>
   export default {
       props: ['datos'],
    data () {
        return {
        // 数据集合
        spData4: this.datos,
        // margin
        spMargin4: 2,
        spBarStyles4: {
            fill: '#54a5ff'
        },
        spLineStyles4: {
            stroke: '#d14'
        },
        spRefLineStyles4: {
            stroke: '#d14',
            strokeOpacity: 0,
            strokeDasharray: '6, 3'
        }
        }
    }
    }
</script>

<style lang="scss" scoped>

</style>