<template>
    <div>
        <div v-if="!$gate.isFile()">
            <filtro-completo @aplicaFiltro="aplicaFiltro" :muestraFiltro="muestraFiltro" :filtro="filtro"></filtro-completo>

            <div class="col-xl-12 mt-4">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-primary">
                        <svg class="svg-inline--fa fa-chart-area fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12">
                                <table class="table table-hover table-bordered border-primary">

                                    <tbody>
                                        <tr class="bg-primary text-white">
                                            <td width="10%" class="text-center">File</td>
                                            <td class="text-center">Nombre</td>
                                            <td width="10%" class="text-center">% logro</td>
                                        </tr>
                                        <tr v-for="dato in datos" :key="dato.id">
                                            <td class="text-center">{{ dato.id }}</td>
                                            <td>{{ dato.direccion }}</td>
                                            <td class="text-center">{{ dato.porc }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <not-found></not-found>
        </div>
    </div>
</template>

<script>
    import FiltroCompleto from '../FiltroCompleto.vue';
    // import HorizontalBarChart from '../HorizontalBarChart'

    export default {
        components: {  FiltroCompleto },
        data() {
            return {
                muestra: 1,
                datacollection: {},
                options: {},
                datos: {},
                valores: {},
                etiquetas: {},
                colores: {},
                bordes: {},
                filtro : {
                    plataforma_id: [],
                    meses_id: [],
                    unidad_id: [],
                    negocios_id: [],
                    file_id: [],
                    fecha_ini: null,
                    fecha_fin: null,
                },
                muestraFiltro : {
                    plataforma : true,
                    meses : true,
                    fecha_ini : false,
                    fecha_fin : false,
                    negocios : true,
                    unidad_negocios : false,
                    files : false,
                }
            }
        },
        methods: {
            aplicaFiltro(filtro) {
                console.log('por acá');
                this.filtro = filtro;
                this.recuperaDatos();
            },
            recuperaDatos(){
                axios.post("api/ranking_file", {
                    'filtro' : this.filtro,
                }) //.then(({ data }) // => (this.datos = data.data));
                .then(({data})=>{
                    this.datos = data.data;
                });
            },
            fillData ()
            {
                this.datacollection = {
                    title: {
                        display: false,
                        text: 'Chart.js Line Chart - Legend'
                    },
                    labels: this.etiquetas,
                    datasets: [{
                        label: 'Total...',
                        data: this.valores,
                        backgroundColor: this.colores,
                        borderColor: this.bordes,
                        borderWidth: 1
                    }],
                }

                this.options = {
                    
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                max: 100, // maximum value
                                min:0
                            }
                        }]
                    },
                }
            },
            async mesInicial(){
                await axios.get("api/mes_inicial", {
                    'filtro' : this.filtro
                }) //.then(({ data }) => (this.datos = data.data));
                .then(({data})=>{
                    this.filtro.meses_id = data;
                    this.click = 1;
                });
            },
        },
        created () {
            this.mesInicial();
            // this.recuperaDatos();
        },
        watch: {
            filtro: {
                handler: function(val, oldVal) {
                    this.aplicaFiltro(this.filtro); // call it in the context of your component object
                },
                deep: true
            }
        }, 
    }
</script>

<style lang="scss" scoped>

</style>